USE [master]
GO
/****** Object:  Database [QuanLyCamDo]    Script Date: 5/12/2026 9:42:58 AM ******/
CREATE DATABASE [QuanLyCamDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo', FILENAME = N'E:\Ky_3_nam3\Hequantri_CSDL\BaiTap\Tiemcamdo\QuanLyCamDo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamDo_log', FILENAME = N'E:\Ky_3_nam3\Hequantri_CSDL\BaiTap\Tiemcamdo\QuanLyCamDo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 5/12/2026 9:42:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[TienVay] [decimal](14, 2) NULL,
	[Lai] [float] NULL,
	[NgayVay] [datetime] NULL,
	[NgayTra] [date] NULL,
	[IsSold] [bit] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TienPhaiTraTruocDeadline1]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Nhất Long>
-- Create date: <11-05-2026>
-- Description:	<Tính lãi đến deadline1>
-- =============================================
CREATE FUNCTION [dbo].[fn_TienPhaiTraTruocDeadline1]
(
    @MaHD VARCHAR(10)
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        MaHD,
        TienVay AS Goc,
        -- Lãi = (Gốc / 1tr) * 5000 * Số ngày
        CAST((TienVay / 1000000.0) * 5000 *  DATEDIFF(day, NgayVay, NgayTra) AS DECIMAL(14, 2)) AS TienLaiD1,
        
        -- Tổng = Gốc + Lãi
        CAST(TienVay + ((TienVay / 1000000.0) * 5000 * DATEDIFF(day, NgayVay, NgayTra)) AS DECIMAL(14, 2)) AS TongPhaiTra

    FROM HopDong
    WHERE MaHD = @MaHD
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TienPhaiTraQuaHanD2]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Nhất Long>
-- Create date: <11-05-2026>
-- Description:	<Tính tiền phải trả khi quá hạn vay đến trước hạn deadline2>
-- =============================================
CREATE FUNCTION [dbo].[fn_TienPhaiTraQuaHanD2](
    @MaHD VARCHAR(10),
    @NgayChuoc DATE -- Ngày khách đến trả tiền thực tế
)
RETURNS TABLE
AS
RETURN (
    SELECT 
        MaHD,
        TienVay AS GocBanDau,
        -- 1. Tính tiền gốc mới tại thời điểm Deadline 1 (Gốc + Lãi đơn)
        CAST(TienVay + (TienVay / 1000000.0 * 5000 * DATEDIFF(day, NgayVay, NgayTra)) AS DECIMAL(14, 2)) AS GocMoiTaiD1,
        -- 2. Số ngày bị trễ (từ Deadline 1 đến ngày chuộc)
        DATEDIFF(day, NgayTra, @NgayChuoc) AS SoNgayTre,

        -- 3. Tính tổng tiền Lãi 
        CAST(
            (TienVay / 1000000.0 * 5000 * DATEDIFF(day, NgayVay, NgayTra)) + 
            ((TienVay + (TienVay / 1000000.0 * 5000 * DATEDIFF(day, NgayVay, NgayTra))) 
            * (POWER(1 + 0.005, DATEDIFF(day, NgayTra, @NgayChuoc)) - 1)) AS DECIMAL(14, 2)
            ) AS TongTatCaTienLai,
        --4. Tính tổng tiền phải trả
        CAST(
            TienVay + 
            ((TienVay * 0.005 * DATEDIFF(day, NgayVay, NgayTra)) + 
            ((TienVay + (TienVay * 0.005 * DATEDIFF(day, NgayVay, NgayTra))) 
            * (POWER(1.005, DATEDIFF(day, NgayTra, @NgayChuoc)) - 1)))
        AS DECIMAL(14, 2)) AS TongPhaiTra
    FROM HopDong
    WHERE MaHD = @MaHD
);
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[CCCD] [varchar](20) NOT NULL,
	[HoDem] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachNoXau]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Nhất Long>
-- Create date: <11-05-2026>
-- Description:	<Danh sách nợ xấu>
-- =============================================
CREATE FUNCTION [dbo].[fn_DanhSachNoXau](
    @NgayKiemTra DATE
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        kh.HoDem,
        kh.Ten,
        kh.SDT,
        hd.MaHD,
        hd.TienVay AS Tienvay,
        hd.NgayTra AS NgayTra,
        DATEDIFF(day, hd.NgayTra, @NgayKiemTra) AS SoNgayQuaHan,
        -- Sử dụng hàm tính lãi kép đã viết trước đó để tính tổng nợ
        (SELECT TongPhaiTra FROM dbo.fn_TienPhaiTraQuaHanD2(hd.MaHD, @NgayKiemTra)) AS TongNoHienTai,
        -- Dự báo nợ nếu để thêm 1 tháng nữa
        (SELECT TongPhaiTra FROM dbo.fn_TienPhaiTraQuaHanD2(hd.MaHD, DATEADD(month, 1, @NgayKiemTra))) AS TongNoSau1Thang
    FROM HopDong hd
    JOIN KhachHang kh ON hd.MaKH = kh.MaKH
    WHERE 
        hd.NgayTra < @NgayKiemTra              -- Điều kiện 1: Quá ngày hẹn trả
        AND hd.TrangThai <> N'Đã thanh toán đủ' -- Điều kiện 2: Chưa trả hết tiền
);
GO
/****** Object:  Table [dbo].[BienDong]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienDong](
	[MaBD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [varchar](10) NULL,
	[NgayTao] [datetime] NULL,
	[TrangThaiMoi] [nvarchar](100) NULL,
	[NoHienTai] [decimal](14, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeHoachTraGop]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeHoachTraGop](
	[MaKHG] [varchar](10) NOT NULL,
	[MaHD] [varchar](10) NULL,
	[NgayHan] [date] NULL,
	[TienGocPTra] [decimal](14, 2) NULL,
	[TienLaiPTra] [decimal](14, 2) NULL,
	[TrangThai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKHG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTaiSan]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTaiSan](
	[MaLoai] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThu]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThu](
	[MaPhieu] [varchar](10) NOT NULL,
	[MaHD] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[MaKHG] [varchar](10) NULL,
	[NgayDong] [date] NULL,
	[TienGocThu] [decimal](14, 2) NULL,
	[TienLaiThu] [decimal](14, 2) NULL,
	[TrangThai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSanChiTiet]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSanChiTiet](
	[MaTS] [varchar](10) NOT NULL,
	[MaHD] [varchar](10) NULL,
	[MaLoai] [varchar](10) NULL,
	[TenTaiSan] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[GiaTriTaiSan] [decimal](14, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BienDong] ON 

INSERT [dbo].[BienDong] ([MaBD], [MaHD], [NgayTao], [TrangThaiMoi], [NoHienTai]) VALUES (1, N'HD001', CAST(N'2026-05-11T09:58:37.827' AS DateTime), N'Tạo HD mới. Hạn cuối thanh lý: 10/08/2026', CAST(15000000.00 AS Decimal(14, 2)))
SET IDENTITY_INSERT [dbo].[BienDong] OFF
GO
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [MaNV], [TienVay], [Lai], [NgayVay], [NgayTra], [IsSold], [TrangThai]) VALUES (N'HD001', N'KH001', N'NV002', CAST(15000000.00 AS Decimal(14, 2)), 5, CAST(N'2026-01-11T14:30:10.000' AS DateTime), CAST(N'2026-03-11' AS Date), 0, N'Đã thanh toán đủ')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [MaNV], [TienVay], [Lai], [NgayVay], [NgayTra], [IsSold], [TrangThai]) VALUES (N'HD002', N'KH002', N'NV003', CAST(50000000.00 AS Decimal(14, 2)), 5, CAST(N'2026-02-05T09:32:15.000' AS DateTime), CAST(N'2026-04-22' AS Date), 0, N'Đã thanh toán đủ')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [MaNV], [TienVay], [Lai], [NgayVay], [NgayTra], [IsSold], [TrangThai]) VALUES (N'HD003', N'KH003', N'NV003', CAST(150000000.00 AS Decimal(14, 2)), 5, CAST(N'2025-12-11T08:36:36.000' AS DateTime), CAST(N'2026-04-11' AS Date), 0, N'Đã thanh toán đủ')
GO
INSERT [dbo].[KeHoachTraGop] ([MaKHG], [MaHD], [NgayHan], [TienGocPTra], [TienLaiPTra], [TrangThai]) VALUES (N'KHG_HD004', N'HD004', CAST(N'2026-06-10' AS Date), CAST(0.00 AS Decimal(14, 2)), CAST(21736325.00 AS Decimal(14, 2)), N'Chưa trả')
GO
INSERT [dbo].[KhachHang] ([MaKH], [CCCD], [HoDem], [Ten], [NgaySinh], [DiaChi], [SDT]) VALUES (N'KH001', N'024953495344', N'Tần Hoàng', N'Kim', CAST(N'2005-01-01' AS Date), N'Hà Nội', N'0987654321')
INSERT [dbo].[KhachHang] ([MaKH], [CCCD], [HoDem], [Ten], [NgaySinh], [DiaChi], [SDT]) VALUES (N'KH002', N'039246583142', N'Đào Tuấn', N'Khang', CAST(N'1995-09-11' AS Date), N'Đà Nẵng', N'0932451234')
INSERT [dbo].[KhachHang] ([MaKH], [CCCD], [HoDem], [Ten], [NgaySinh], [DiaChi], [SDT]) VALUES (N'KH003', N'022542564234', N'Nguyễn Việt', N'Quất', CAST(N'1899-10-25' AS Date), N'Cần Thơ', N'0944714435')
GO
INSERT [dbo].[LoaiTaiSan] ([MaLoai], [TenLoai]) VALUES (N'DT01', N'Điện thoại')
INSERT [dbo].[LoaiTaiSan] ([MaLoai], [TenLoai]) VALUES (N'LT01', N'LapTop')
INSERT [dbo].[LoaiTaiSan] ([MaLoai], [TenLoai]) VALUES (N'SD01', N'Sổ đỏ')
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu]) VALUES (N'NV001', N'Khâu Văn Phú', N'Quản lý')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu]) VALUES (N'NV002', N'Trần Hoài My', N'Kiểm định viên')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu]) VALUES (N'NV003', N'Phan Huỳnh Đức', N'Kiểm định viên')
GO
INSERT [dbo].[PhieuThu] ([MaPhieu], [MaHD], [MaNV], [MaKHG], [NgayDong], [TienGocThu], [TienLaiThu], [TrangThai]) VALUES (N'PT_HD001', N'HD001', N'NV005', NULL, CAST(N'2026-05-11' AS Date), CAST(15000000.00 AS Decimal(14, 2)), CAST(4425000.00 AS Decimal(14, 2)), N'Thu đúng hạn D1. Gốc: 15000000.00 - Lãi: 4425000.00')
INSERT [dbo].[PhieuThu] ([MaPhieu], [MaHD], [MaNV], [MaKHG], [NgayDong], [TienGocThu], [TienLaiThu], [TrangThai]) VALUES (N'PT_HD002', N'HD002', N'NV005', NULL, CAST(N'2026-05-11' AS Date), CAST(50000000.00 AS Decimal(14, 2)), CAST(25831000.00 AS Decimal(14, 2)), N'Thu quá hạn (Lãi kép). Trễ 19 ngày.')
INSERT [dbo].[PhieuThu] ([MaPhieu], [MaHD], [MaNV], [MaKHG], [NgayDong], [TienGocThu], [TienLaiThu], [TrangThai]) VALUES (N'PT_HD003', N'HD003', N'NV006', NULL, CAST(N'2026-05-11' AS Date), CAST(150000000.00 AS Decimal(14, 2)), CAST(130000000.00 AS Decimal(14, 2)), N'Đã thu tiền')
GO
INSERT [dbo].[TaiSanChiTiet] ([MaTS], [MaHD], [MaLoai], [TenTaiSan], [SoLuong], [GiaTriTaiSan], [TrangThai]) VALUES (N'TS001', N'HD001', N'XM01', N'Honda Invisible', 1, CAST(20000000.00 AS Decimal(14, 2)), N'Đã trả khách')
INSERT [dbo].[TaiSanChiTiet] ([MaTS], [MaHD], [MaLoai], [TenTaiSan], [SoLuong], [GiaTriTaiSan], [TrangThai]) VALUES (N'TS002', N'HD002', N'XM01', N'Vision ariblade', 1, CAST(75000000.00 AS Decimal(14, 2)), N'Đã trả khách')
INSERT [dbo].[TaiSanChiTiet] ([MaTS], [MaHD], [MaLoai], [TenTaiSan], [SoLuong], [GiaTriTaiSan], [TrangThai]) VALUES (N'TS003', N'HD003', N'SD01', N'Sổ đất nhà 150m2', 1, CAST(1500000000.00 AS Decimal(14, 2)), N'Đã trả khách')
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[BienDong]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[KeHoachTraGop]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD FOREIGN KEY([MaKHG])
REFERENCES [dbo].[KeHoachTraGop] ([MaKHG])
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiSanChiTiet]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiTaiSan] ([MaLoai])
GO
ALTER TABLE [dbo].[TaiSanChiTiet]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
/****** Object:  StoredProcedure [dbo].[sp_DKHopDong]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Nhất Long>
-- Create date: <11-05-2026>
-- Description:	<Đơn tạo hợp đồng>
-- =============================================
CREATE PROCEDURE [dbo].[sp_DKHopDong]
    -- Thông tin khách hàng 
    @MaKH VARCHAR(10),
    @CCCD VARCHAR(20),
    @HoDem NVARCHAR(50),
    @Ten NVARCHAR(20),
    @NgaySinh DATE,
    @DiaChi NVARCHAR(100),
    @SDT VARCHAR(20),
    -- Thông tin hợp đồng
    @MaHD VARCHAR(10),
    @MaNV VARCHAR(10),
    @TienVay DECIMAL(14, 2),
    @Lai FLOAT,
    @NgayVay DATETIME,
    @NgayTra DATE,
    -- Thông tin tài sản
    @MaTS VARCHAR(10),
    @MaLoai VARCHAR(10),
    @TenTaiSan NVARCHAR(50),
    @SoLuong INT,
    @GiaTriTaiSan DECIMAL(14, 2)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @Deadline1 DATE = @NgayTra;
    DECLARE @Deadline2 DATE = DATEADD(day, 60, @Deadline1);

    BEGIN TRANSACTION;
    BEGIN TRY
        -- BƯỚC 1: XỬ LÝ THÔNG TIN KHÁCH HÀNG
        -- Nếu khách hàng chưa tồn tại (kiểm tra qua MaKH hoặc CCCD) thì thêm mới
        IF NOT EXISTS (SELECT 1 FROM KhachHang WHERE MaKH = @MaKH OR CCCD = @CCCD)
        BEGIN
            INSERT INTO KhachHang (MaKH, CCCD, HoDem, Ten, NgaySinh, DiaChi, SDT)
            VALUES (@MaKH, @CCCD, @HoDem, @Ten, @NgaySinh, @DiaChi, @SDT);
        END
        -- Nếu khách cũ đã có mã khác nhưng cùng CCCD, ta lấy lại MaKH cũ để đồng bộ
        ELSE
        BEGIN
            SELECT @MaKH = MaKH FROM KhachHang WHERE CCCD = @CCCD;
        END

        -- BƯỚC 2: LẬP HỢP ĐỒNG
        INSERT INTO HopDong (MaHD, MaKH, MaNV, TienVay, Lai, NgayVay, NgayTra)
        VALUES (@MaHD, @MaKH, @MaNV, @TienVay, @Lai, @NgayVay, @Deadline1);

        -- BƯỚC 3: LƯU TÀI SẢN
        INSERT INTO TaiSanChiTiet (MaTS, MaHD, MaLoai, TenTaiSan, SoLuong, GiaTriTaiSan)
        VALUES (@MaTS, @MaHD, @MaLoai, @TenTaiSan, @SoLuong, @GiaTriTaiSan);

        -- BƯỚC 4: GHI NHẬT KÝ BIẾN ĐỘNG
        INSERT INTO BienDong (MaHD, NgayTao, TrangThaiMoi, NoHienTai)
        VALUES (
            @MaHD, 
            GETDATE(), 
            N'Tạo HD mới. Hạn cuối thanh lý: ' + CONVERT(VARCHAR, @Deadline2, 103), 
            @TienVay
        );

        COMMIT TRANSACTION;
        PRINT N'Hợp đồng ' + @MaHD + N' đã lập thành công cho khách hàng ' + @HoDem + N' ' + @Ten;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GiaHanHopDong]
    @MaHD VARCHAR(10),
    @MaNV VARCHAR(10),
    @SoThangGiaHan INT -- Số tháng muốn gia hạn thêm
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @TongLaiHienTai DECIMAL(14, 2);
    DECLARE @NgayHienTai DATE = GETDATE();
    DECLARE @NgayTraMoi DATE;

    -- 1. Tính toán số tiền lãi khách phải trả đến thời điểm hiện tại
    -- Sử dụng hàm tính lãi tổng hợp (bao gồm lãi đơn và lãi kép nếu có)
    IF (@NgayHienTai <= (SELECT NgayTra FROM HopDong WHERE MaHD = @MaHD))
    BEGIN
        SELECT @TongLaiHienTai = TienLaiD1 
        FROM dbo.fn_TienPhaiTraTruocDeadline1(@MaHD);
    END
    ELSE
    BEGIN
        SELECT @TongLaiHienTai = TongTatCaTienLai 
        FROM dbo.fn_TienPhaiTraQuaHanD2(@MaHD, @NgayHienTai);
    END

    -- 2. Ghi nhận vào bảng PhieuThu (Chỉ thu tiền lãi)
    INSERT INTO PhieuThu (MaPhieu, MaHD, MaNV, NgayDong, TienGocThu, TienLaiThu, TrangThai)
    VALUES (
        'PT_' + @MaHD,
        @MaHD,
        @MaNV,
        @NgayHienTai,
        0, -- Tiền gốc không đổi
        @TongLaiHienTai, -- Thu toàn bộ lãi
        N'Gia hạn - Thu lãi'
    );

    -- 3. Cập nhật Hợp đồng sang kỳ hạn mới
    -- Ngày vay mới tính từ hôm nay, Deadline 1 dời đi @SoThangGiaHan
    SET @NgayTraMoi = DATEADD(MONTH, @SoThangGiaHan, @NgayHienTai);

    UPDATE HopDong
    SET NgayVay = @NgayHienTai,
        NgayTra = @NgayTraMoi,
        TrangThai = N'Đang vay' 
    WHERE MaHD = @MaHD;

    PRINT N'Gia hạn thành công. Tổng lãi đã thu: ' + CAST(@TongLaiHienTai AS VARCHAR);
    PRINT N'Hạn trả mới (Deadline 1): ' + CONVERT(VARCHAR, @NgayTraMoi, 103);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyHoanTra]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_XuLyHoanTra]
    @MaHD VARCHAR(10),
    @MaNV VARCHAR(10),
    @SoTienKhachTra DECIMAL(14, 2)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Deadline1 DATE, @Deadline2 DATE, @IsSold BIT, @GocBanDau DECIMAL(14, 2);
    DECLARE @TongNoHienTai DECIMAL(14, 2), @TienLaiHienTai DECIMAL(14, 2);
    DECLARE @NgayHienTai DATE = GETDATE();
    DECLARE @MaKH VARCHAR(10);

    -- 1. Lấy thông tin từ Hợp đồng
    SELECT 
        @Deadline1 = NgayTra, 
        @IsSold = IsSold, 
        @GocBanDau = TienVay,
        @MaKH = MaKH 
    FROM HopDong WHERE MaHD = @MaHD;

    SET @Deadline2 = DATEADD(day, 60, @Deadline1);

    -- 2. Kiểm tra tài sản (Chặn nếu đã thanh lý)
    IF (@NgayHienTai > @Deadline2 AND @IsSold = 1)
    BEGIN
        PRINT N'Tài sản đã thanh lý. Không thu tiền, Không trả đồ!';
        RETURN;
    END

    -- 3. Tính toán nợ thực tế để so sánh
    IF (@NgayHienTai <= @Deadline1)
        SELECT @TongNoHienTai = TongPhaiTra, @TienLaiHienTai = TienLaiD1 FROM dbo.fn_TienPhaiTraTruocDeadline1(@MaHD);
    ELSE
        SELECT @TongNoHienTai = TongPhaiTra, @TienLaiHienTai = TongTatCaTienLai FROM dbo.fn_TienPhaiTraQuaHanD2(@MaHD, @NgayHienTai);

    -- 4. Ghi nhận Phiếu thu
    -- Logic: Thu Gốc trước, dư mới thu Lãi
    DECLARE @TienGocVuaThu DECIMAL(14,2) = CASE WHEN @SoTienKhachTra >= @GocBanDau THEN @GocBanDau ELSE @SoTienKhachTra END;
    DECLARE @TienLaiVuaThu DECIMAL(14,2) = CASE WHEN @SoTienKhachTra > @GocBanDau THEN @SoTienKhachTra - @GocBanDau ELSE 0 END;

    INSERT INTO PhieuThu (MaPhieu, MaHD, MaNV, NgayDong, TienGocThu, TienLaiThu, TrangThai)
    VALUES ('PT_' + @MaHD, @MaHD, @MaNV, @NgayHienTai, @TienGocVuaThu, @TienLaiVuaThu, N'Đã thu tiền');

    -- 5. PHÂN LUỒNG TRẠNG THÁI
    IF (@SoTienKhachTra >= @TongNoHienTai)
    BEGIN
        -- TRƯỜNG HỢP 1: TRẢ ĐỦ -> Tất toán
        UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
        PRINT N'Hợp đồng đã trả hết. Không cần lập kế hoạch trả góp.';
    END
    ELSE
    BEGIN
        -- TRƯỜNG HỢP 2: TRẢ THIẾU -> Chuyển sang "Đang trả góp" và TẠO KẾ HOẠCH
        UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;

        -- Tính số tiền còn nợ để đưa vào kế hoạch trả tiếp
        DECLARE @GocConNo DECIMAL(14,2) = CASE WHEN @GocBanDau > @TienGocVuaThu THEN @GocBanDau - @TienGocVuaThu ELSE 0 END;
        DECLARE @LaiConNo DECIMAL(14,2) = CASE WHEN @TienLaiHienTai > @TienLaiVuaThu THEN @TienLaiHienTai - @TienLaiVuaThu ELSE 0 END;

        -- Chèn thông tin vào bảng KeHoachTraGop (Chỉ tạo khi đang trả góp)
        INSERT INTO KeHoachTraGop (MaKHG, MaHD, NgayHan, TienGocPTra, TienLaiPTra, TrangThai)
        VALUES (
            'KHG_'+@MaHD, 
            @MaHD, 
            DATEADD(day, 30, @NgayHienTai), -- Mặc định hẹn 30 ngày sau trả tiếp
            @GocConNo, 
            @LaiConNo, 
            N'Chưa trả'
        );

        PRINT N'Đã chuyển trạng thái sang Đang trả góp và tạo lịch hẹn trả nợ mới.';
    END
END
GO
/****** Object:  Trigger [dbo].[trg_HDNoXau]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_HDNoXau]
ON [dbo].[HopDong]
AFTER UPDATE, INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật TẤT CẢ các hợp đồng thỏa mãn điều kiện
    UPDATE HopDong
    SET TrangThai = N'Quá hạn (nợ xấu)'
    WHERE TrangThai <> N'Đã thanh toán đủ' 
      AND TrangThai <> N'Quá hạn (nợ xấu)' -- Tránh cập nhật lại những dòng đã là nợ xấu rồi
      AND NgayTra < GETDATE();             -- Đã quá hạn Deadline 1
END;
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_HDNoXau]
GO
/****** Object:  Trigger [dbo].[trg_SanSangThanhLy]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_SanSangThanhLy]
ON [dbo].[HopDong]
AFTER UPDATE, INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật trạng thái tài sản trong bảng TaiSanChiTiet
    -- Điều kiện: 
    -- 1. Hợp đồng liên quan đang là 'Quá hạn (nợ xấu)'
    -- 2. Ngày hiện tại đã vượt quá Deadline 2 (Deadline 1 + 60 ngày)
    UPDATE ts
    SET ts.TrangThai = N'Sẵn sàng thanh lý'
    FROM TaiSanChiTiet ts
    JOIN HopDong hd ON ts.MaHD = hd.MaHD
    WHERE hd.TrangThai = N'Quá hạn (nợ xấu)'
      AND GETDATE() > DATEADD(day, 60, hd.NgayTra) -- Deadline 2 = NgayTra + 60
END;
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_SanSangThanhLy]
GO
/****** Object:  Trigger [dbo].[trg_TaiSanThanhLy]    Script Date: 5/12/2026 9:42:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_TaiSanThanhLy]
ON [dbo].[HopDong]
AFTER UPDATE, INSERT
AS
BEGIN
    SET NOCOUNT ON;

    -- Cập nhật đồng loạt bảng TaiSanChiTiet dựa trên trạng thái của tất cả HopDong
    UPDATE ts
    SET ts.TrangThai = N'Đã bán thanh lý'
    FROM TaiSanChiTiet ts
    JOIN HopDong hd ON ts.MaHD = hd.MaHD
    WHERE (hd.IsSold = 1)
      AND ts.TrangThai <> N'Đã bán thanh lý'; -- Chỉ cập nhật những món chưa đổi trạng thái
      
    PRINT N'Đã quét toàn bộ hệ thống và cập nhật trạng thái tài sản cho các hợp đồng đã thanh lý.';
END;
GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_TaiSanThanhLy]
GO
USE [master]
GO
